*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}
[wm-flappy]{
    position: absolute;
    top: 100px;
    width: 400px;
    height: 500px;
    border: 5px solid cyan;


    background-color: aliceblue;
    background-image: url(../imgs/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
}

@font-face{
    font-family: "pixel";
    src: url("../fonts/Pixel.ttf");
}
.pontuation{
    position: absolute;
    display: block;
    left: calc(100% - 50px);
    width: 30px;
    height: 30px;
    
    font-family: 'pixel';
    color: #fff;
    font-size: 30px;
}

#bird{  
    height: 30px;
}

.grid-bird{
    position: absolute;
    display: grid;
    grid-template-rows: 47.5% 5% 47.5%;
    grid-template-columns: 30px;

    height: 100%;
}

.obstacle{
    position: absolute;
    
    display: none;
    grid-template-rows: 0.5fr 40px 0.2fr 40px auto;

    width: 18%;
    height: 100%;
    left: 101%;
    background-color: transparent;
}

.pipe{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: transparent;
}

.muzzle{
    height: 40px;
    width: 100%;

    background-image: url('../imgs/muzle.png');
    background-size: cover;
    border: 4px solid #000;
}

.tube{
    width: 80%;
    height: 100%;

    justify-self: center;
    
    background-image: url('../imgs/tube.png');
    background-size: cover;

    border-right: 4px solid #000;
    border-left: 4px solid #000;
    
}

.void{
    background-color: transparent;
}