*{
    box-sizing: border-box;
}

@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}
[wm-flappy]{
    position: relative;
    width: 35vw;
    height: 45vw;
    border: 5px solid cyan;


    background-color: aliceblue;
    background-image: url(../imgs/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
}

#bird{
    position: absolute;
    margin-left: 12%;
    /* transform: rotate(45deg); */
    height: 4.8%;
}

.obstacle{
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    position: absolute;

    width: 20%;
    height: 100%;
    left: 20%;
    background-color: transparent;
}

.pipe{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muzzle{
    height: 14%;
    width: 100%;

    background-image: url('../imgs/closedPipe2.png');
    transform: rotate(180deg);
    background-size: cover;
}

.tube{
    width: 80%;
    height: 90%;
    
    background-image: url('../imgs/openedPipe.png');
    background-size: cover;
}

.void{
    background-color: transparent;
}